*{
    box-sizing: border-box;
}

.error{
    border: 2px solid red;
}

/*clases que ocupan más de una etiqueta*/
.display {
    display: block;
  }
.hide {
    display: none;
}

/*cuerpo*/
body{
    font-family: 'Roboto', sans-serif;
    background: whitesmoke;
}

/*header*/
header img{
    width: 100%;
    height: 250px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

/*contiene los formularios*/
main{
    background: #FFFFFF;
    width: 60%; /*ancho de formulario*/
    padding: 30px;
    margin: auto;
    margin-top: 1%;
    margin-bottom: 2%;
    border-radius: 2.5%;
    border: 2px solid #00c2cb;
}

.formulario {
    display: grid;
    grid-template-columns: 1fr 1fr; /*crea dos columnas*/
    gap: 30px; /*espacio entre casillas*/
}

.label{
    display: block; /*la etiqueta abarca 100%*/
    font-weight: 700; /*negrita*/
    padding: 2px;
    cursor: pointer;
}

input[type='text'],[type='email'],[type='tel']{
    width: 100%; /*casilla abarque todo el espacio*/
    height: 40px; /*altura y altura de linea tienen el mismo valor para que vaya centrado*/
    line-height: 40px;
    padding: 0px 10px 0px 10px;
}

input{
    border-radius: 5px; /*borde de la casilla*/
    border: solid transparent; /*para que no tenga borde*/
    border-bottom: 2px solid #00c2cb; /*borde inferior después de border*/
    outline: none;
}

.button,.direccion,h2{
    grid-column: span 2;
} 

.button{
    display: flex;
    width: 100%;
    justify-content: center;
}

.boton{
    height: 60px; 
    width: 35%;
    background: #00c2cb;
    color: white;
    border-radius: 4%;
    border: none;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
    word-wrap: break-word;
    margin: 20px;
}

.boton:hover{
    background-color: #8c52ff;
    color: white;
}

input:valid:required {
    border: 2px solid #00c2cb;
  }

 
input:disabled{
    border: 2px solid #00c2cb;
}

.resumenCard{
    display: inline-block;
    position: relative;
}

.cardImg{
    width: 100%;
    position: relative;
}

#creditText{
    position: absolute;
    top: 43%;
    left: 13%;
    color: white;
    font-size: larger;
    font-weight: bold;
}
#cardResult{
    position: absolute;
    top: 50%;
    left: 13%;
    color: white;
    font-weight: bold;
}
#expdateResult{
    position: absolute;
    top: 53%;
    left: 35%;
    color: white;
    font-weight: bold;
}
#nameResult{
    position: absolute;
    top: 58%;
    left: 13%;
    color: white;
    font-weight: bold;
    font-size: small;
    background-color: #009ff3;
}

/*footer*/
footer{
    width: 100%;
    background: #90c0ff;
    color: white;
    position: absolute;
    font-family: sans-serif;
}

.content{
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
    padding: 5px;
    font-size: 15px;
}

h1{
    font-size: 20px;
    font-weight: bold;
}
.row{
    margin-top: 5%;
    display: flex;
}
.row img{
    width: 36px;
    height: 36px;
}
.row label{
    margin-top: 3%;
    margin-left: 2%;
}

.firma{
        background-color: #00c2cb;
        text-align: center;
        color: rgb(237, 243, 248);
        position: absolute;
        width: 100%;
}